:root {
    --blue: aliceblue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --blue: darkslateblue;
    }
}

.green {
    color: var(--green);
}
.in-blue {
    background-color: var(--blue);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none !important;
}

h1.in-blue,
h2.in-blue,
h3.in-blue,
h4.in-blue,
h5.in-blue,
h6.in-blue {
    padding-left: 0.5rem;
}